body {

    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 970px;
}

h1 {
    font-size:40px;
    letter-spacing: -1px;
    margin-bottom: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #281d2b;
}

input, button {
    outline: none;
}

::-webkit-input-placeholder {color:#513b56;}
::-moz-placeholder          {color:#513b56;}/* Firefox 19+ */
:-moz-placeholder           {color:#513b56;}/* Firefox 18- */
:-ms-input-placeholder      {color:#513b56;}

/*HEADER*/
@media (max-width: 992px) {
    .navbar-toggler {
        width: 100%;
        margin:10px 0;
        cursor: pointer;
    }
}
@media (max-width: 992px) {
    .navbar-toggler {
        width: 100%;
        margin:10px 0;
        cursor: pointer;
    }
}
.logo {
    margin: 17px 0 0 0;
}
@media (max-width: 380px) {
    .logo a img {
        width: 260px;
    }
}

.callBlock {
    /*text-align: right;*/
    font-family: 'Roboto', sans-serif;
}

.callNumber {
    font-size: 24px;
    margin: 34px 0 0 0;
}
@media (max-width: 991px) {
    .callNumber {
        margin:10px 0;
        padding:0;
    }
}

.callNumber .callTxt {
    color: #a9a8ba;
    font-family: 'Roboto Condensed', sans-serif;
}

.callNumber .callNumb {
    color: #513b56;
}

.callNow {
    display: inline-block;
    margin: 32px 0 0 0;
}
@media (max-width: 991px) {
    .callNow {
        margin:10px 0 10px 0;
        display: block;
    }
}
@media (min-width: 992px) {
    .callNow {
        margin-right:-17px;
    }
}

.callNow a {
    color: #ffffff;
    background: #513b56;
    font-size: 16px;
    display: inline-block;
    padding: 8px 42px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: normal;
}
@media (max-width: 991px) {
    .callNow a {
        margin:10px 0;
        /*padding:0;*/
        display: inline-block;
    }
}

.callNow a:hover {
    text-decoration: none;
    color: #513b56;
    background: #bce784;
}

/*navigation*/
.navigation {
    margin: 8px 0 0 0;
    font-family: 'Roboto Condensed', sans-serif;
}
@media (max-width: 991px) {
    .navigation {
        margin:0;
    }
}

.navigation .navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0;
    padding-left:0;
    padding-right:0;
}

.navigation ul {
    margin: 0;
    padding: 0;
}

.navigation ul li {
    list-style-type: none;
    margin: 0 6px 0 3px;
    padding: 0;
    font-size: 20px;
    float: left;
    text-transform: uppercase;
}

.navigation .navbar-default ul li a {
    color: #513b56;
    padding: 5px 18px;
    display: inline-block;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    letter-spacing: -0.5px;
}
.navigation .navbar-light .navbar-nav .active>.nav-link {
    padding: 5px 23px;
    display: inline-block;
}

.navigation .navbar-default ul > li:hover {
    background: #bce784;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.navigation .navbar-default ul > li.active {
    color: rgb(81, 59, 86);
    background-color: rgb(188, 231, 132);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.navigation .navbar-light .navbar-nav .nav-link {
    color: rgb(81, 59, 86);
}
.navigation .navbar-light .navbar-nav .nav-link + a {
    margin-left: -10px;
}

.navigation .navbar-default ul > li.active:hover > a {
    color: rgb(81, 59, 86);
    background-color: rgb(188, 231, 132);
}

.navigation .navbar-default ul > li > ul li {
    display: inline-block;
    width: 100%;
}

.navigation .navbar-default ul > li > ul li > a {
    color: #513b56;
    padding: 9px 18px;
    margin: 0 3px 0 -3px;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.navbar-nav > li > .dropdown-menu {
    border: 1px solid #513b56;
    margin-top: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.dropdown-menu {
    padding: 1px;
}

.dropdown-item.active, .dropdown-item:active {
    color: rgb(255, 255, 255);
    background-color: rgb(188, 231, 132);
    text-decoration: none;
}

.navigation .navbar-collapse {
    padding: 0;
}

/*search*/
.searchBlock {

}

.searchBlock .searchForm {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin: -3px -5px 0 0;
}

.searchBlock .searchForm input {
    width: 100px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #cccccc;
    outline: none;
    padding: 0 10px 0 32px;
    font-size: 15px;
    height: 40px;
}
@media (max-width: 991px) {
    .searchBlock form {
        width: 100%;
    }
    .searchBlock .searchForm {
        width: 100%;
    }
    .searchBlock .searchForm input {
        width: 100%;
    }
}

.searchBlock .searchForm button {
    position: absolute;
    background: transparent;
    border: none;
    color: #513b56;
    font-size: 16px;
    outline: none;
    margin: 7px 0 0 7px;

}

::-webkit-input-placeholder {
    color: #a9a8ba;
}

::-moz-placeholder {
    color: #a9a8ba;
}

/* Firefox 19+ */
:-moz-placeholder {
    color: #a9a8ba;
}

/* Firefox 18- */
:-ms-input-placeholder {
    color: #a9a8ba;
}

/*END HEADER*/

/*SLIDER*/
.slides {
    margin: 6px 0 0 0;
}

.slides img {
    height: 500px;
    max-height: 500px;
    object-fit: cover;
    width: 100%;
}

.banner {
    position: absolute;
    height: 438px;
    max-width: 457px;
    background: rgba(81, 59, 86, 0.95);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 40px;
    padding: 55px 64px 55px 70px;
    margin-top: 32px;
    color: #ffffff;
}
@media (max-width: 575px) {
    .banner {
        max-width: 100%;
       margin-right: 15px;
        margin-top: 30px;

        padding:  40px 30px;
    }
}

.bannerTitle {
    font-size: 32px;
    line-height: 41px;
    margin-bottom: 19px;
    font-family: 'Roboto Condensed', sans-serif;
}
@media (max-width: 992px) {
    .bannerTitle {
        font-size: 26px;
    }
}
@media (max-width: 575px) {
    .bannerTitle {
        font-size: 24px;
    }
}

.bannerDescription {
    line-height: 23px;
    letter-spacing: 0px;
}

.bannerForm {
    margin: 55px 0 0 0;
}
@media (max-width: 992px) {
    .bannerForm {
        margin: 25px 0 0 0;
    }
}

.bannerForm input {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background: transparent;
    border: 1px solid #ffffff;
    font-size: 16px;
    text-align: center;
    padding:0 10px;
}

.bannerForm button {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    color: #513b56;
    background: #bce784;
    border: 0;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.bannerForm button:hover {
    color: #ffffff;
    background: #1e7850;
}

.bannerForm ::-webkit-input-placeholder {
    color: #ffffff;
}

.bannerForm ::-moz-placeholder {
    color: #ffffff;
}

/* Firefox 19+ */
.bannerForm :-moz-placeholder {
    color: #ffffff;
}

/* Firefox 18- */
.bannerForm :-ms-input-placeholder {
    color: #ffffff;
}

/*END SLIDER*/

/*SECTION WE WORK*/
.sectionWeWork {
    padding: 70px 0;
}

.sectionWeWork .title {
    font-size: 38px;
    margin: 0 0 31px 5px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1.8px;
}

.sectionWeWork p {
    margin: 0 0 20px 5px;
    line-height: 26px;
    font-size:14px;
    font-family: 'Roboto', sans-serif;
}

.blockList {
    border: 1px solid #e5e5ea;
    margin: 11px 0 0 5px;
    padding: 30px 48px 50px 48px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px
}
@media (max-width: 992px) {
    .blockList {
        margin: 11px 0 0 0px;
    }
}

.blockList .title {
    font-size: 26px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0 6px;
    margin-bottom: 21px;
}

.blockList ul {
    margin: 0 0 0 11px;
    padding: 0;
}

.blockList ul li {
    list-style-type: none;
    font-size: 16px;
    margin-bottom: 6px;
}

.blockList ul li i {
    color: #1e7850;
    margin-right: 8px;
}

/*END SECTION WE WORK*/

/*SECTION our service*/
.tabs-left {
    display: block;
}
.tabs-left, .tabs-right {
    border-bottom: none;
    padding-top: 2px;
}

.tabs-left {
    border-right: 1px solid #ddd;
}

.tabs-right {
    border-left: 1px solid #ddd;
}

.tabs-left > li, .tabs-right > li {
    float: none;
    margin-bottom: 2px;
    width:100%;
}

.tabs-left > li {
    margin-right: -1px;
}

.tabs-right > li {
    margin-left: -1px;
}

.tabs-left > li.active > a,
.tabs-left > li.active > a:hover,
.tabs-left > li.active > a:focus {
    width:100%;
    display: inline-block;
    border-bottom-color: #ddd;
    border-right-color: transparent;
}

.tabs-left > li > a,
.tabs-left > li > a:hover,
.tabs-left > li > a:focus {
    width:100%;
    display: inline-block;
    border-bottom-color: #ddd;
    border-right-color: transparent;
    text-decoration: none;
}

/*END SECTION our service*/

/*SECTION OUR SERVICES*/
.sectionServices {
    background: #513b56 url("../images/section_bg.png");
    background-size: cover;
    color: #ffffff;
    display: flex;
}

.serviceBlock {
    margin: 0;
    width:100%;
}

.sectionServices .title {
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}

.sectionServicesBlock1 {
    background: rgba(81, 59, 86, 0.95);
    padding: 0 0 60px 41px;
    width:100%;
}
.sectionServicesBlock1 .title {
    font-size: 40px;
    padding: 40px 0 0 0;
}

.sectionServicesBlock1 ul.nav {
    margin-left: 6px;
    margin-top: 17px;
    border: 0;
}

.sectionServicesBlock1 ul.nav li {
    border: 0;
}

.sectionServicesBlock1 ul.nav li a {
    border: 0;
}

.sectionServicesBlock1 ul.nav li.active a {
    background: #281d2b;
    border: 0;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    border-radius: 20px 0 0 20px;
    margin: 0;
}

.sectionServicesBlock1 .nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #281d2b;
    border: 0;
    border-color: #ddd #ddd #fff;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    border-radius: 20px 0 0 20px;
}

.sectionServicesBlock1 ul.nav li.active:hover a {
    color: #ffffff;
}

.sectionServicesBlock1 ul.nav li:hover a {
    background: #281d2b;
    border: 0;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    border-radius: 20px 0 0 20px;
    margin: 0;
}

.sectionServicesBlock1 ul.nav li a {
    color: #ffffff;
    font-size: 18px;
    padding: 7px 0 7px 15px;
}

.sectionServicesBlock2 {
    padding:0;
}



.sectionServicesBlock2 .tab-content {
    display: flex;
    height: 100%;

}

.sectionServicesBlock2 .tab-pane {
    background: rgba(40, 29, 43, 0.95);
    padding: 40px 40px;
    min-width: 320px;
}
@media (max-width: 768px) {
    .sectionServicesBlock2 .tab-pane {
        background: rgba(40, 29, 43, 0.95);
        padding: 40px 40px;
        min-width: 100%;
    }
}

.sectionServicesBlock2 .title {
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.sectionServicesBlock2 p {
    line-height: 25px;
}

.sectionServicesBlock2 .readMore {
    padding: 9px 0;
}

.sectionServicesBlock2 .readMore a {
    color: #513b56;
    background: #bce784;
    font-size: 16px;
    display: inline-block;
    padding: 9px 25px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: normal;
}

.sectionServicesBlock2 .readMore a:hover {
    text-decoration: none;
    color: #ffffff;
    background: #513b56;
}

/*END SECTION OUR SERVICES*/

/*SECTION CONTACT*/
.sectionContact {
    display: flex;
    flex-wrap: wrap;
}

.contactBlock {
    padding: 0;
    display: flex;
}

.contact {
    color: #ffffff;
    display: flex;
    flex: 1;
}

.contact > div {
    background-size: cover;
    border: 1px solid #ffffff;
    border-width: 0 0 1px 1px;
    font-size: 18px;
    line-height: 30px;
    padding: 40px 40px 30px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.contactBlock:nth-child(3n+1) .contact > div {
    border-left: none;
}

.contact1 {
    background: #513b56 url("../images/contact_bg1.png");
}

.contact2 {
    background: #513b56 url("../images/contact_bg2.png");
}

.contact3 {
    background: #513b56 url("../images/contact_bg3.png");
}

.contact4 {
    background: #513b56 url("../images/contact_bg4.png");
}

.contact5 {
    background: #513b56 url("../images/contact_bg5.png");
}

.contact6 {
    background: #513b56 url("../images/contact_bg6.png");
}

.aboutUs .contact > div {
    background: #513b56;
    font-size: 14px;
    line-height: 20px;
    min-height: 187px;
    padding: 27px 30px 30px;
    justify-content: space-between;
}
.veewMapBtn {
    margin-top: 16px;
}

.veewMapBtn a {
    color: #513b56;
    background: #bce784;
    font-size: 14px;
    display: inline-block;
    padding: 5px 25px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: normal;
}

.veewMapBtn a:hover {
    text-decoration: none;
}

.veewMapBtn a img {
    margin-right: 10px;
}

.aboutUs .veewMapBtn {
    margin-top: 10px;
}

.aboutUs .veewMapBtn a {
    font-size: 16px;
    padding: 7px 25px;
}
.map {
    line-height: 0;
}
.contactForm {
    border-radius: 40px;
    border: 1px solid #e5e5ea;
    background-color:  rgba(229, 229, 234, 0);
    padding: 55px 80px 60px;
    margin-top: 60px;
}
.contactForm h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    margin-bottom: 34px;
}

.formGroup label {
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    color:  #513b56;
    font-size: 16px;
    margin-bottom: 3px;
}
.formControl {
    border: 1px solid #e5e5ea;
    border-radius: 10px;
    background-color:  #f4f3f4;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
}
.messageBox {
    margin-top: 15px;
    margin-bottom: 15px;
}
textarea.formControl {
    height: 100px;
}
.contactForm .sendBtn {
    width: 160px;
}
    /*END SECTION CONTACT*/


.footer {
    background-color: #281d2b;
    color: #a9a8ba;
    padding: 52px 0 60px;
}

.footer-nav-title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 13px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
}

.footer-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
@media (max-width: 992px) {
    .footer-nav-list {
        margin: 0 0 18px 0;
    }
}

.nav-list-item {
    padding: 3px 0;
}

.nav-list-item a {
    color: #fff;
    font-size:13px;
}

.address {
    margin: 20px 0;
}

.social-links {
    font-size: 0;
    margin-top: 15px;
}
.social-links a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #525174;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    margin-right: 5px;
}
.social-links a:hover {
    background: #513b56;
}

.copy {
    font-size:14px;
}
.address {
    font-size:14px;
}
.footer-contacts {
    font-size:14px;
}

/*BX SLIDER*/
.bx-wrapper {
    position: relative;
    margin: 80px 0;
    padding: 0;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -moz-box-shadow: 0 0 0px #ccc;
    -webkit-box-shadow: 0 0 0px #ccc;
    box-shadow: 0 0 0px #ccc;
    border: 0px solid #fff;
    background: #fff;
}

.slide  .avatar {
    float: left;
    margin-right: 20px;
}
.slide .userName {
    line-height:18px;
    color: #281d2b;
 }
.slide .userPosition {
    font-size: 14px;
    margin-top: -3px;
    color: #a9a8ba;
 }
.slide .rating {
}
.slide .starrr {
    color: #513b56;
    float: left;
    margin: 6px 0 0 1px;
}
.slide .starrr i {
    margin-right: 3px;
}
.slide .reviewsBtn {
    color: #ffffff;
    background: #513b56;
    font-size: 14px;
    display: inline-block;
    padding: 5px 21px;
    margin: 2px 0 0 7px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: normal;
}
.slide .reviewsBtn:hover {
    text-decoration: none;
    background: #bce784;
    color: #513b56;
}
.slide .reviewTxt {
    font-size:13px;
    margin: 14px 0;
    line-height:22px;
    padding: 0 80px 0 0;
}
@media (max-width: 992px) {
    .sliderReviews  .slide {
        width: 350px!important;
    }
    .slide .reviewTxt {
        font-size:13px;
        margin: 14px 0;
        line-height:22px;
        padding: 0 30px 0 0;
    }
}
@media (max-width: 767px) {
    .sliderReviews  .slide {
        width: 255px!important;
    }
}
@media (max-width: 576px) {
    .sliderReviews  .slide {
        width: 330px!important;
        padding-right: 25px;

    }
}
.bx-wrapper .bx-controls-direction a {
    background-color: #a9a8ba;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}
.bx-wrapper .bx-controls-direction a:hover {
    background-color: #513b56;
}
@media (min-width: 992px) {
    .bx-wrapper .bx-controls-direction a {
        position: absolute;
        top: 48%;
        margin-top: -16px;
        margin-left: -75px;
        margin-right: -55px;
        outline: 0;
        width: 38px;
        height: 38px;
        text-indent: -9999px;
        z-index: 9999;
        background-color: #a9a8ba;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
    }
}

/*END BX SLIDER*/

/*CONTENT*/
.content {
    margin: 42px 0 60px 0;
    color: #281d2b;
}

.content p {
    margin-bottom: 24px;
}
.content .material {
    padding: 0 100px 0 2px;
}
.material a {
    color: #513b56;
    text-decoration: underline;
}
.material a:hover {
    text-decoration: none;
}
.material h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size:41px;
    letter-spacing: -0.4px;
    margin-bottom:35px;
}
.material h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size:22px;
    letter-spacing: 1px;
    margin-bottom: 14px;
}

.material p {
    font-size:16px;
    letter-spacing:0;
    padding-right: 100px;
    margin-bottom: 33px;
}
@media (max-width: 768px) {
    .content .material {
        padding: 0 0px 0 2px;
    }
    .material p {
        font-size:16px;
        letter-spacing:0;
        padding-right: 0;
    }
}
ul.contentServiceList {
    margin: 0 0;
    padding:0 0 30px 20px;
}
ul.contentServiceList li {
    list-style-type: none;
    list-style-image: url('../images/listStyle.png');
    padding: 6px 0 4px 0;
}
/*END CONTENT*/

/*SECTION DEPARTMENTS*/
.sectionDepartments {
    background: #f4f3f4;
    padding:30px 15px 35px 15px;
}
.sectionDepartments .title {
    font-size:24px;
    margin: 22px 0 23px 0;
    display: block;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}
.dapertmentsBlock {
    border: 1px solid #e5e5ea;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    background: #ffffff;
    padding:20px;
    margin-bottom: 5px;
    height:90%;
}
.dapertmentsBlock i {
    font-size:24px;
}
.dapertmentsBlock .title {
    font-size:16px;
    text-transform: uppercase;
    color: #281d2b;
    margin: 5px 0 20px 0;
    text-align: center;
}
.dapertmentsBlock p {
    font-size:13px;
}

.departmentsItems {
    align-items: stretch;
}

.departmentsItems .col-xl-2 {
    padding-left: 7px;
    padding-right: 7px;
    min-width: 250px;
}

/*END SECTION DEPARTMENTS*/

/*SERVICES*/
.blockLink {
    padding-top: 12px;
    margin: 0 -15px;
}
.blockLink ul {
    margin: 0;
    padding: 0;
    font-size: 0;
}
.blockLink ul li {
    text-align: center;
    display: flex;
    margin-bottom: 30px;
}

.blockLink ul li a {
    flex: 1;
    display: block;
    color: #281d2b;
    border: 1px solid #e5e5ea;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    padding:10px 20px 20px;
    text-transform: uppercase;
    font-size: 20px;
}
.blockLink ul li a:hover {
    text-decoration: none;
    background: #513b56;
    color: #ffffff;
}
.blockLink ul li a i {
    display: block;
    color: #e5e5ea;
    padding:20px 0;
    font-size: 28px;
}

ul.contentServiceList li {


}
/*END SERVICES*/

/*CONTACT*/
.sendBtn {
    color: #ffffff;
    background: #513b56;
    font-size: 16px;
    display: inline-block;
    padding: 8px 42px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: normal;
    border: none;
    cursor: pointer;
    outline:none;
}

.sendBtn:hover {
    text-decoration: none;
    color: #513b56;
    background: #bce784;
}
/*END CONTACT*/

/*TEAM PAGE*/
.teamBlock {
    margin-bottom: 10px;
}
.teamBlock h1 {
    letter-spacing: 0.1px;
}

.teamList {

}

.therapistBlock {
    text-align: center;
    margin-bottom: 68px;
}

.teamPosition {
    width: 48px;
    height: 40px;
    background: url("../images/teamPositionBg.png");
    position: absolute;
    display: inline-block;
    right: 29px;
    top: -6px;
    line-height: 32px;
    color: #513b56;
}

.teamName {
    color: #513b56;
    font-family: 'Roboto Condensed', sans-serif;
    font-size:18px;
    margin: 7px 0;
}

.teamPage  {}
.teamPage h1 {
    letter-spacing: 0.1px;
}

.teamBadge {
    text-align: center;
    border: 1px solid #e5e5ea;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 63px 0 0 0;
    padding: 10px;
    font-size: 14px;

}
.badgeAvatar {
    margin-top: -70px;
}
.positionBox {
    text-align: center;
    margin:10px;
}
.positionBox {
    background: #f4f3f4;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: inline-block;
    padding:5px 20px;
    color: #a9a8ba;
}
.badgePosition {
    margin:6px 0;
    padding: 0 40px;
    text-align: center;
}
.badgeAdress {
    margin:10px 0;
    padding: 0 40px;
    text-align: center;
}
.teamPageContent {
    margin: 7px 0 0 0;
}
.teamPageContent p {
    line-height: 26px;
}
/*END TEAM PAGE*/

/*SEARCH*/
.searchPage {}

.searchPage h1 {
    letter-spacing: 0.5px;
    margin-bottom: 47px;
}

.searchFormBlock {
    background: #513b56;
    padding: 30px 85px 30px 85px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.searchFormBlock input {
    height: 40px;
    width:100%;
    border: none;
    padding: 0 160px 0 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.searchFormBlock button {
    float: right;
    background: #bce784;
    color: #513b56;
    font-size: 16px;
    display: inline-block;
    padding: 8px 52px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: normal;
    border: none;
    margin-top: -40px;
    margin-right: -1px;
    position: relative;
    outline:none;
    cursor: pointer;
}

.searchFormBlock button:hover {
    background: #1e7850;
    color: #ffffff;
}

.searchFormBlock:after {
    content: "";
    width: 10px;
    height: 10px;
    background: #1e7850;
}

.arrSearchBlock {
    position: absolute;
    margin-top: 12px;
}

.searchResult {
    padding:20px 80px;
}

.searchResult ol li {
    color: #e5e5ea;
    font-size: 24px;
    margin: 10px 0 12px 0;
    border-bottom: 1px solid #e5e5ea;
}
.searchResult ol li .title {
    color: #513b56;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 5px;
}
.searchResult ol li p {
    color: #281d2b;
    font-size:14px;
}

.paginationBlock {
    padding: 24px 120px;
}
.paginationBlock .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #513b56;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size:13px;
}

@media (max-width: 768px) {
    .searchResult {
        padding:20px 10px;
    }
    .searchFormBlock {
        background: #513b56;
        padding: 30px 25px 30px 25px;
    }
    .searchFormBlock button {
        padding: 8px 22px;
    }
    .paginationBlock {
        padding: 24px 50px;
    }
}
/*END SEARCH*/

/*SOCIAL LINKS*/
.sociallinks {
    position: fixed;
    right:0;
    top: 25%;
    background: #513b56;
    text-align: center;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
}

.sociallinks a {
    display: block;
    color: #ffffff;
    padding: 10px 10px;

}
.sociallinks a:hover {
    background: #bce784;
    color: #513b56;
}

.sociallinks a:hover:first-child {
    -webkit-border-radius: 10px 0 0 0;
    -moz-border-radius: 10px 0 0 0;
    border-radius: 10px 0 0 0;
}

.sociallinks a:hover:last-child {
    -webkit-border-radius: 0 0 0 10px;
    -moz-border-radius: 0 0 0 10px;
    border-radius: 0 0 0 10px;
}
/*END SOCIAL LINKS*/

/* JOIN US */
.teamPage {
    margin-bottom: 60px;
}
.teamPage img {
    max-width: 100%;
}
.teamPage h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    line-height: 26px;
    margin: 7px 0 24px;
}
.teamPage p {
    line-height: 26px;
}
.jobBlock {
    border: 1px solid #e5e5ea;
    border-radius: 20px;
    background-color: rgba(229, 229, 234, 0);
    padding: 26px 30px;
}
.jobBlock h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
}
.jobBlock ul {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.jobBlock li {
    padding: 8px 0 8px;
    position: relative;
}
.jobBlock li::before {
    content: "\f105";
    font: 14px/1 FontAwesome;
    display: inline-block;
    margin-right: 7px;
}
/* END JOIN US */